<h4 class="text-center">Add New Item</h4>
<div>
  <div>
    <h5 (click)="displayBookFormMethod()">Book</h5>
  </div>
  <div>
    <h5 (click)="displayDVDFormMethod()">DVD</h5>
  </div>
</div>

<div>
  <div *ngIf="displayBookForm">
    <h6>Add New Book</h6>
    <form [formGroup]="books">
      <mat-form-field>
        <input matInput placeholder="Enter ISBN" [formControl]="isbnNumber" required [(ngModel)]="book.isbnNumber">
        <mat-error *ngIf="isbnNumber.invalid">{{getErrorISBNMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Enter Name" [formControl]="title" required [(ngModel)]="book.title">
        <mat-error *ngIf="title.invalid">{{getErrorNameMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Enter Author(s)" [(ngModel)]="book.authors" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Enter Sector" [(ngModel)]="book.currentReader"
               [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Select Publication Date" [(ngModel)]="book.publicationDate"
               [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Enter Publisher" [(ngModel)]="book.publisher"
               [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" placeholder="Number of Pages" formControlName="totalNumberOfPages" min="1">
        <mat-error *ngIf="books.get('noOfPages')?.invalid">Min pages: 1</mat-error>
      </mat-form-field>

      <button mat-stroked-button (click)="cancelBook()">Cancel</button>
      <button mat-stroked-button color="primary" (click)="addBook(book)" [disabled]="!book.isbnNumber || !book.title">
        Add Book
      </button>
    </form>
  </div>
  <div *ngIf="displayDVDForm">
    <h6>Add New DVD</h6>
    <form>

      <mat-form-field>
        <input matInput placeholder="Enter ISBN" [formControl]="isbnNumber" required [(ngModel)]="dvd.isbnNumber">
        <mat-error *ngIf="isbnNumber.invalid">{{getErrorISBNMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Enter Name" [formControl]="name" required [(ngModel)]="dvd.name">
        <mat-error *ngIf="name.invalid">{{getErrorNameMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Enter Languages(s)" [(ngModel)]="dvd.languages"
               [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Enter Sector" [(ngModel)]="dvd.sector" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <mat-form-field>
        <!--<input matInput placeholder="Enter Publication Date" [(ngModel)]="dvd.publicationDate"-->
               <!--[ngModelOptions]="{standalone: true}">-->

        <label>
          Date Time:
          <input [owlDateTime]="dt1">
          <span class="trigger" [owlDateTimeTrigger]="dt1">
        <i class="fas fa-calendar-alt"></i>
    </span>
          <owl-date-time #dt1></owl-date-time>
        </label>
        <mat-datepicker>
          <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date Time">
          <owl-date-time #dt1></owl-date-time>
        </mat-datepicker>

      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Enter Actor(s)" [(ngModel)]="dvd.actors"
               [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Enter Subtitle(s)" [(ngModel)]="dvd.subtitles"
               [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Enter Producer" [(ngModel)]="dvd.producer"
               [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <button mat-stroked-button (click)="cancelDVD()">Cancel</button>
      <button mat-stroked-button color="primary" (click)="addDVD(dvd)" [disabled]="!dvd.isbnNumber || !dvd.name">
        Add DVD
      </button>
    </form>
  </div>
</div>
