<div>
  <mat-form-field>
    <input matInput placeholder="Enter ISBN" [formControl]="isbn" required [(ngModel)]="book.isbnNumber">
    <mat-error *ngIf="isbn.invalid">{{getErrorISBNMessage()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Enter Reader ID" [formControl]="readerId" required [(ngModel)]="reader.id">
    <mat-error *ngIf="readerId.invalid">{{getErrorReaderIdMessage()}}</mat-error>
  </mat-form-field>

  <button mat-stroked-button color="primary" (click)="returnItem(reader, book)" [disabled]="!book.isbnNumber || !reader.id">
    Return Item
  </button>
</div>
